html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden;
    display: block;
    z-index: 1;
}

#mapCanvas {
    z-index: 0;
    bottom: 0%;
    left: 0%;
    position: fixed;
}

#nekoCanvas {
    z-index: 0;
    right: 30%;
    
}
