html, body{
	width:  100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
  }
/* #canvas{
	margin: 0;
	padding: 0;
} */

.mscreen{
	/* width: 100ww;
	height: 100wh; */
	/* margin: auto; */
	z-index: 99;
	position: fixed;
	background:rgba(0, 0, 0, 0.3);
	top:0;
	right: 0;
	left: 0;
	bottom:0;
	display: flex;
}

.mwindow{

	width: 70%;
	background: red;
	margin: auto;
	border-radius: 50px;
	padding: 5%;
	text-align: center;
	
}


.mbtn{
	height: 50px;
	border-radius: 50px;
	background-color: hsl(97, 94%, 30%);
	transition: all 2s;
}

.mbtn:hover{
	background-color: hsl(97, 94%, 60%)
}